* {
  box-sizing: border-box;
}

a, a:hover, a:visited {
  text-decoration: none;
  color:inherit;
}

body {
  background-color: #b8b8b8;
  font-family: Segoe UI;
  padding: 0;
  margin: 0;
  border: none;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.nav {
  height: 5vh;
  width: 100%;
  background: #191919;
  color: #FEFEFE;
  padding: .5em;
  width: 100%;
}

.leftbar {
  padding: 1em;
  width: 15%;
  background-color: rgb(245, 245, 245);
  height: 95vh;
  overflow-y: scroll;
}

select {
  width: 100%;
}

.main {
  background-color: skyblue;
  width: 85%;
  padding: .1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-item {
  width: 100%;
  border: .1em solid black;
  margin: 1em;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;

}

.item-content {
  display: block;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.category {
  border-bottom: .01em solid black;
  margin-bottom: 1em;
}
