* {
  box-sizing: border-box;
  /* outline: .01em solid red; */
}

a, a:hover, a:visited {
  text-decoration: none;
  color:inherit;
  padding: 0em;
  margin: 0em;
}

body {
  background-color: #b8b8b8;
  font-family: Segoe UI;
  padding: 0em;
  margin: 0em;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.nav {
  height: 8.3%;
  width: 100%;
  background-color: rgb(62, 126, 161);
  color: #FEFEFE;
  padding: .5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.navRisico {
  display: flex;
  flex-direction: row;
}

.navRisico h3 {
  padding-right: 1em;
}

.nav img {
  height: 4em;
}

.leftbar {
  /* padding: 1em; */
  width: 25%;
  background-color: rgb(147, 197, 223);
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
}

select {
  width: 100%;
}

.main {
  background-color: rgb(245, 245, 245);;
  width: 75%;
  /* padding: .1em; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.main h1 {
  width: 100%;
  text-align: center;
  display: block;
}

.buttonWrap {
  margin: auto;
  margin-top: 1em;
  width:100%;
}

.main-item {
  width: 85%;
  border-bottom: .01em solid black;
  /* margin: 1em; */
  padding: .5em;
  display: flex;
}

.item-content {
  display: block;
  width: 100%;
  /* text-align: center; */
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-content img {
  /* width: 8em; */
}

.category  {
  padding: 0em;
  margin: 0em;
  padding: .5em;
  width: 50%;
  height: 8.33%;
  text-align: center;
}

.category:hover {
  background-color: rgb(179, 207, 222);
  padding: .5em;
}

.overzicht {
  text-align: center;
  background-color: rgb(62, 126, 161);
  width: 100%;
  color: white;
}

.overzicht h3 {
  color: white;
}

.option {
  width: 20%;
  padding: 1em;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection p {
  width: 100%;
  text-align: center;
}

.selection img {
  border: .3em solid rgba(0,0,0,0);
}

.small {
  width: 100%;
  max-width: 20em;
}

.optionwrap {
  display: flex;
  margin-bottom: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.selectuser {
  border-bottom: .01em solid black;
}

.selectuser img {
  width: 10em;
}

.activeimg{
  border-bottom: .5em solid green;
}

.labelinput {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  display: block;
  background-color: none;
  border: none;
  padding: 1em;
  width: 25%;
}

button:focus, button:selected {
  border: none;
}

form {
  width: 35%;
}
